.row {
  color: #fff;
  margin-left: 20px;
}

.row__posters {
  /* display: flex;
  overflow-y: hidden;
  overflow-x: scroll; */
  /* padding: 30px; */
}

/* .row__posters::-webkit-scrollbar {
  display: none;
} */

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform .45s;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.slick-list {
  padding: 12px !important;
}

.slick-list {margin: 0 5px;}
.slick-slide>div {padding: 0 5px;}

.slick-prev {
  z-index: 1!important;
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

.slick-next::before {
  content: "›" !important;
  display: inline-block;
  font-size: 40px !important;
  height: 15px;
  width: 15px;
  transform: translateY(-15px);
}

.slick-next:hover::before {
  text-shadow: 10px 10px 30px green;
}

.slick-prev::before {
  content: "‹" !important;
  display: block;
  font-size: 40px !important;
  height: 15px;
  width: 15px;
  transform: translateY(-20px);
}